<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-3">
      <div class="panel panel-default">
        <table class = "table" id = "table-profile">
          <th>
            something</br>
            something</br>
            something</br>
            something</br></td>
          </th>
          <tr>
            <td>something</td>
          </tr>
          <tr>
            <td>something</td>
          </tr>
        </table>
      </div>
    </div>
    <div class = "col-md-6">
    <div class="panel panel-default">
    <%= render "carousel" %>
    </div>
    </div>
    <div class = "col-md-3">
    <div class = "well">
      one
      </div>
    </div>
  </div>
</div>
