<div class="container-fluid">
    <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
        <ul class="nav nav-pills nav-justified">
            <li data-target="#carousel1" data-slide-to="0" class="active">
                <a href="#">Updates</a>
            </li>
            <li data-target="#carousel1" data-slide-to="1">
                <a href="#">Messages</a>
            </li>
        </ul>
        <div class="carousel-inner">
            <div class="item active">
                <table class = "table" id = "table-updates">
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                </table>
            </div>
            <div class="item">
                <table class = "table" id = "table-messages">
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                    <tr>
                    <td>something</td>
                    <td>something</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


