<div id="posts">
<table class = "table">
<% @posts.each do |post| %>
  <tr>
  	<td><%= simple_format post.source %> </td>
	<td><%= simple_format post.header %> </td>
  	<td><%= simple_format post.content %> </td>
  </tr>
<% end %>

</table>