<div id="posts">
<table class = "table">
<% @posts.each do |p| %>
  <% @postable = p %>
  <tr>
  	<td><%= simple_format p.source %> </td>
	<td><%= simple_format p.header %> </td>
  	<td><%= simple_format p.content %> </td>
	 <td><%= render "posts/reply_form" %> </td> 	
  </tr>
<% end %>

</table>