<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;    </span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Reply to <%= post.header%> in <%= postable.postable.name %> </h4>
            </div>
            <div class="modal-body">
                <%= render "posts/reply_form_modal"  %>
            </div>
        </div>
    </div>
</div>